ul {
    border-bottom: 1px solid #ccc;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;

    li {
        display: inline-block;
        max-width: 200px;
        padding: 3px;
        position: relative;
        vertical-align: top;

        &:hover, &.active {
            border-top: 1px solid rgb(81, 132, 228);
            cursor: default;
            padding-top: 2px;
        }

        &:not(:first-child) {
            border-left: 1px solid #ccc;
        }

        a {
            display: inline-block;
            max-width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            i {
                display: none;
                position: absolute;
                right: 0;

                &:hover {
                    color: rgb(81, 132, 228);
                }
            }
        }
    }
}
