<div>
    <ul (mouseenter) = "listMouseEnter($event)" 
        (mouseleave) = "listMouseLeave($event)">
        <li *ngFor = "let tab of tabItems"
            (click) = "onTabChange(tab)"
            (mouseenter) = "itemMouseEnter(tab)" 
            (mouseleave) = "itemMouseLeave(tab)"
            [ngClass] = "active === tab.val || active === tab ? 'active' : ''"
        >
            <a>
                {{ tab.label || tab }}
                <i class='fa fa-remove' [ngStyle]="hoverTab === tab ? { 'display': 'inline' } : ''"></i>
            </a>
        </li>
    </ul>
</div>
