:host {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  nav {
    border-bottom: 1px solid rgb(66, 66, 66);
    box-sizing: border-box;
    height: 35px;

    a {
      display: inline-block;
      padding: 3px;
      text-decoration: none;

      &:hover {
        border-top: 1px solid rgb(0, 128, 255);
        padding-top: 2px;

        &.active {
          border-top: 0;
          padding-top: 3px;
        }
      }

      &.active {
        border-bottom: 1px solid rgb(0, 128, 255);
        padding-bottom: 2px;
      }
    }
  }
}
