<tabs-component *ngIf='companiesViewService.tabItems.length' [active]="companiesViewService.viewKey" [tabItems]="companiesViewService.tabItems"
  (tabChange)="companiesViewService.onTabChange($event)">
</tabs-component>
<ul *ngIf="companiesViewService.viewTypeKey === 'company'" class="view-content">
  <li>
    <div>
      <i class="fa fa-home" title="Registered address"></i>
      <label>Registered Address</label>
    </div>
    <ul *ngIf="companiesViewService.viewData[companiesViewService.viewKey] && companiesViewService.viewData[companiesViewService.viewKey].address; else noAddress">
      <li>{{ companiesViewService.viewData[companiesViewService.viewKey].address.address_line_1 }}</li>
    </ul>
    <ng-template #noAddress>
      No Registered Address
    </ng-template>
  </li>
</ul>
